@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

body,html {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(images/david-clode-yLDVDimvwZk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 1400px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    min-width: 800px;
}

.content {
   background-color: rgb(235, 165, 200);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 50%;
   height: 1400px;
   position: relative;
   min-width: 400px;
   box-sizing: border-box;

}

header,footer {
    background-color: rgb(222, 226, 236);
    height: 43rem;
    padding: 4rem 3rem;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: 'Gentium Book Plus', 'Berkshire Swash', 'Times New Roman', Times, serif;
    line-height: 2.5rem;
}

#form-header {
    margin-left: 50px;
    font-size: 2rem;

}

.my-form {
    display: flex;
    padding-left: 50px;
    gap: 10%;
    height: 650px;
    width: 50%;
    margin-right: 10px;
    min-height: 500px;
    
}

.image {
    position: absolute;
    left: 0px;
    bottom: 250px;
    font-size: 5vw;
    color: white;
    width: 50vw;
    min-width: 400px;
    height: 70px;
    background-color: black;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    font-family: 'monoton', 'Times New Roman', Times, serif;

}

.image > span {
    display: inline-block;
    height: 50px;
    position: relative;
    bottom: 15%;
    margin-left: 2vw;
    margin-right: 5px;

}

img { 
    width: 5vw;
    height: 5vw;

}

.second-form, .first-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.select-option {
    margin-top: 0px;

}

button {
    background-color: #596D48;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
    position: absolute;
    bottom: 200px;
    left: 120px;

}

#footer-text {
    margin-top: 30px;
    margin-left: 5px;
}

.first-form > div > input, .second-form > div > input {
    padding: 1vw;
    width: 16vw;
    outline: none;
    
}

.first-form > div > input:invalid, .second-form > div > input:invalid {
    border-color: red;

}

.first-form > div > input:focus, .second-form > div > input:focus  {
    border-color: rgba(0, 0, 255, 0.342)
    
}
input[type='checkbox'], [type='radio'] {
    appearance: none;
    height: 20px;
    width: 20px;
    border: solid 1px black;
    vertical-align: -6px;
    position: relative;

}
input[type='radio'] {
    border-radius: 50px;

}

input[type='checkbox']::before, input[type='radio']::before {
    content: '';
    position: absolute;
    border: solid 9px rgba(0, 0, 255, 0.411);
    visibility: hidden;

}

input[type='checkbox']:checked::before, input[type='radio']:checked::before {
    visibility: visible;

}

input[type='radio']::before {
    border-radius: 50%;

}

select {
    appearance: none;
    padding: 10px;
    width: 16vw;
    border-radius: 10px;
    border: solid 2px gray;

}

.select-container {
    position: relative;
   
}

.select-container::after {
    content:'▼';
    position: absolute;
    font-size: 1.5rem;
    bottom: 5px;
    right: 50px;
    
}

fieldset {
margin-top: 50px;

}

.select-option {
    margin-bottom: 1px;
    
}
        

